@font-face {
	font-family: 'BadaBoom BB';
	src: url('fonts/BadaBoomBB.eot');
	src: url('fonts/BadaBoomBB.eot?#iefix') format('embedded-opentype'),
		url('fonts/BadaBoomBB.woff') format('woff'),
		url('fonts/BadaBoomBB.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html{
  background-image: url("./images/background.jpg");
}

body {
  color: white;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 1.1em;
  cursor: url("images/cursor.png"), default; 
} 

h1{
  font-size: 90px;
  font-family: 'BadaBoom BB';
  margin-bottom: 0;
}